<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <%- partial('productList') %>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Water noble spirit <br><span class="text-muted">水中贵族精神</span></h2>
          <p class="lead">贵族精神是文化的教养，是贵族式的生活方式：景田以体现品牌的文化内涵为理念，斥巨资将百岁山基地打造成集生产、旅游、休闲、文化为一体的生态水文化游览地。贵族精神是担当起社会与国家的责任：多年来，景田通过开展常态的消费者基地探源活动，来促进消费者认识水文化，挖掘水文化，弘扬水文化，增强全社会的爱水、亲水、节约水、保护水的意识；2008年汶川地震后，景田第一时间响应国家号召，为灾区捐款捐水，对灾区急需的饮用水加班加点生产并组织运输。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./image/big1.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./image/big2.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Water noble quality<br><span class="text-muted">水中贵族品质</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Water noble homes<br><span class="text-muted">水中贵族家园</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./image/big3.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <%- partial('_partial/footer', null, {}) %>

    </div><!-- /.container -->