<% if(!is_home()) { %>
	<hr class="featurette-divider" />
<% } %>
<footer>
<p class="pull-right"><a href="#">返回顶部</a></p>
<p>&copy; 2016 Company, Inc. <a href="#"><%= theme.companyName %></a> &middot; <a href="#"><%= theme.authorName %></a></p>
<p>联系电话：400-900-6820</p>
<p>地址：广东省东莞市南城区水濂山大道96号联科国际信息产业园3A栋502室</p>
</footer>