<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="./image/1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>农夫山泉</h2>
    <p>怡宝纯净水，中国饮用水市场的领先品牌，用30年的专业经验保证产品的安全和纯净，采用世界上先进的二级反渗透技术，确保每一滴水水质纯净。</p>
    <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="./image/2.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>农夫山泉</h2>
    <p>怡宝是饮用水至纯至净的倡导者及执行者，更是呼吁人们内心纯净的先行者，以“心纯净、行至美”的品牌主张，引导社会价值，希望通过始终如一的品质追求和不断进取的创新精神，为社会贡献企业价值和社会责任，创造美好世界。</p>
    <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="./image/3.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>农夫山泉</h2>
    <p>怡宝是饮用水至纯至净的倡导者及执行者，更是呼吁人们内心纯净的先行者，以“心纯净、行至美”的品牌主张，引导社会价值，希望通过始终如一的品质追求和不断进取的创新精神，为社会贡献企业价值和社会责任，创造美好世界。</p>
    <p><a class="btn btn-default" href="#" role="button">查看详情 &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->