.aboutMain p{
    text-indent: 2rem;
}

.aboutMain h2{
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #dbd4cd;
    margin-bottom: 1.5rem;
}

/*联系*/
.contact{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact .media{
    border-bottom: 1px solid #dbd4cd;
    padding-bottom: 1rem;
}

.contact .media:last-child{
    border-bottom: 0px solid #dbd4cd;
}